*{
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-image: url(PngItem_2028697.png); */
    background-color: rgb(10, 10, 10);
    /* background-size: 1400px; */
    background-repeat: no-repeat;
    /* padding: 100px 200px 100px 450px; */
    /* overf */

}


.form{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    width: 382px;
    /* overflow: hidden;     */
    margin: 20 0 0 450px;
    padding: 50px;
    background: #93BFCF;
    border-radius: 15px;



}

h1 {
    align-items: center;
}

#img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
}