body{
    margin: 0;
}
#udiv{
display: flex;
margin: 0;
background-color: #B4E4FF;
}
img{
height: 200px;
}
p{
font-size: 40px;
margin-left: 50px;
color:#A75D5D;
}
#addre{
color: black;
font-size: 18px;
}
#anim{
width: 100%;
margin: 0;
background-color: black;
}
a{
margin-left: 50px;
margin-right: 200px;
font-size: 20px;
color: white;
}
a:hover{
color: #FF0032;
}
a:active{
color: rgb(251, 255, 4);
}

#ldiv{
display: flex;
margin: 0;
background-color: #00337C;
padding: 10px;

}